@model List<Comment>
<div class="comments mt-5">
    <h4 class="side-title">Yorumlar (@(Model?.Count ?? 0))</h4>

    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="media mt-4">
                <div class="media-body">
                    <ul class="time-rply mb-2">
                        <li>
                            <span class="name mt-0 mb-2 d-block">@item.User</span>
                            @item.Date.ToShortDateString() - @item.Date.ToShortTimeString()
                        </li>
                    </ul>
                    <p>@item.Content</p>
                </div>
            </div>
        }
    }
    else
    {
        <p class="mt-3">Henüz yorum yapılmamış. İlk yorumu siz yazın!</p>
    }
</div>