@model DestinationUpdateDTO
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">


        <div class="row">
            <div class="col-md-12">

                <div class="card mb-4">
                    <h5 class="card-header">Gezi Detayları</h5>
                    <!-- Account -->
                    <form asp-area="Admin" asp-controller="Destination" asp-action="UpdateDestination" method="post" enctype="multipart/form-data">

                        <input type="hidden" name="DestinationID" value="@Model.DestinationID" />
                        <div class="card-body">
                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                <img src="~/destinationImages/@Model.DestinationImage"
                                     class="d-block rounded"
                                     height="100"
                                     width="100"
                                     id="uploadedAvatar1" />
                                <div class="button-wrapper">
                                    <label for="upload1" class="btn btn-primary me-2 mb-4" tabindex="0">
                                        <span class="d-none d-sm-block">Kapak fotoğrafını güncelle</span>
                                        <i class="bx bx-upload d-block d-sm-none"></i>
                                        <input type="file"
                                               id="upload1"
                                               class="account-file-input"
                                               name="DestinationImageFile"
                                               hidden
                                               accept="image/png, image/jpeg" />
                                    </label>
                                    <button type="button" class="btn btn-outline-secondary account-image-reset mb-4" data-target="uploadedAvatar1" data-default="~/destinationImages/@Model.DestinationImage">
                                        <i class="bx bx-reset d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Reset</span>
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                <img src="~/destinationImages/@Model.CoverImage"
                                     class="d-block rounded"
                                     height="100"
                                     width="100"
                                     id="uploadedAvatar2" />
                                <div class="button-wrapper">
                                    <label for="upload2" class="btn btn-primary me-2 mb-4" tabindex="0">
                                        <span class="d-none d-sm-block">Kapak fotoğrafını güncelle</span>
                                        <i class="bx bx-upload d-block d-sm-none"></i>
                                        <input type="file"
                                               id="upload2"
                                               name="CoverImageFile"
                                               class="account-file-input"
                                               hidden
                                               accept="image/png, image/jpeg" />
                                    </label>
                                    <button type="button" class="btn btn-outline-secondary account-image-reset mb-4" data-target="uploadedAvatar2" data-default="~/destinationImages/@Model.CoverImage">
                                        <i class="bx bx-reset d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Reset</span>
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                <img src="~/destinationImages/@Model.Image2"
                                     class="d-block rounded"
                                     height="100"
                                     width="100"
                                     id="uploadedAvatar3" />
                                <div class="button-wrapper">
                                    <label for="upload3" class="btn btn-primary me-2 mb-4" tabindex="0">
                                        <span class="d-none d-sm-block">Kapak fotoğrafını güncelle</span>
                                        <i class="bx bx-upload d-block d-sm-none"></i>
                                        <input type="file"
                                               id="upload3"
                                               name="Image2File"
                                               class="account-file-input"
                                               hidden
                                               accept="image/png, image/jpeg" />
                                    </label>
                                    <button type="button" class="btn btn-outline-secondary account-image-reset mb-4" data-target="uploadedAvatar3" data-default="~/destinationImages/@Model.Image2">
                                        <i class="bx bx-reset d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Reset</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr class="my-0" />
                        <div class="card-body">

                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="firstName" class="form-label">Gezi Şehri</label>
                                    <input class="form-control"
                                           type="text"
                                           id="firstName"
                                           name="DestinationCity"
                                           value="@Model.DestinationCity"
                                           autofocus />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="lastName" class="form-label">Gezi Süresi</label>
                                    <input class="form-control" type="text" name="DestinationDayNight" id="lastName" value="@Model.DestinationDayNight" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">Gezi Açıklaması</label>
                                    <input class="form-control"
                                           type="text"
                                           id="email"
                                           name="DestinationDescription"
                                           value="@Model.DestinationDescription" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="details1" class="form-label">Gezi Detayları 1</label>
                                    <input class="form-control"
                                           type="text"
                                           id="details1"
                                           name="Details1"
                                           value="@Model.Details1" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="details2" class="form-label">Gezi Detayları 2</label>
                                    <input class="form-control"
                                           type="text"
                                           id="details2"
                                           name="Details2"
                                           value="@Model.Details2" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="organization" class="form-label">Gezi Ücreti</label>
                                    <input type="text"
                                           class="form-control"
                                           id="organization"
                                           name="DestinationPrice"
                                           value="@Model.DestinationPrice" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="phoneNumber">Gezi Kapasitesi</label>
                                    <div class="input-group input-group-merge">
                                        <input type="text"
                                               id="phoneNumber"
                                               name="DestinationCapacity"
                                               class="form-control"
                                               value="@Model.DestinationCapacity" />
                                    </div>
                                </div>

                            </div>
                            <div class="mt-2">
                                <button type="submit" class="btn btn-primary me-2">Kaydet</button>
                                <button type="reset" class="btn btn-outline-secondary">İptal</button>
                            </div>


                        </div>
                    </form>
                    <!-- /Account -->
                </div>
                <div class="card">
                    <h5 class="card-header">Geziyi Sil</h5>

                    <form asp-area="Admin" asp-controller="Destination" asp-action="DeleteDestination" method="post">
                        <input type="hidden" name="id" value="@Model.DestinationID" />    
                        <div class="form-check mb-3">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="accountActivation"
                                   id="accountActivation" />
                            <label class="form-check-label" for="accountActivation">Gezi Turunu Silmek İstediğime Eminim</label>
                        </div>
                        <button type="submit" class="btn btn-danger deactivate-account">Sil</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.account-file-input').forEach(function (input) {
        input.addEventListener('change', function (e) {
            var file = e.target.files[0];
            if (file) {
                var imgId = "uploadedAvatar" + e.target.id.replace("upload", "");
                var img = document.getElementById(imgId);
                var reader = new FileReader();
                reader.onload = function (event) {
                    img.src = event.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
    });

    document.querySelectorAll('.account-image-reset').forEach(function (button) {
        button.addEventListener('click', function () {
            var targetId = this.getAttribute('data-target');
            var defaultSrc = this.getAttribute('data-default');
            var img = document.getElementById(targetId);
            img.src = defaultSrc;

            var uploadId = "upload" + targetId.replace("uploadedAvatar", "");
            var input = document.getElementById(uploadId);
            if (input) input.value = "";
        });
    });
</script>