@model Destination
@{
    ViewData["Title"] = "DestinationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model == null)
{
    <div class="alert alert-danger">Destinasyon bulunamadı.</div>
}
else
{

    <br />
   
    <section class="blog-post-main w3l-homeblock1">

        <div class="blog-content-inf pb-5">
            <div class="container pb-lg-4">
                <h2 class="mb-3">@Model.DestinationCity</h2>
                <div class="single-post-image">
                    <div class="post-content">
                        @if (!string.IsNullOrEmpty(Model.CoverImage))
                        {
                            <img src="~/destinationImages/@Model.CoverImage"
                                 class="radius-image img-fluid mb-5 w-100"
                                 style="height:450px; object-fit:cover; object-position:center;"
                                 alt="@Model.DestinationCity" />
                        }
                    </div>
                </div>
                <div class="single-post-content">
                   
                    @if (!string.IsNullOrEmpty(Model.DestinationDescription))
                    {
                        <p class="alphabet mb-4">
                            <span class="big-letter">@Model.DestinationDescription.Substring(0, 1)</span>@Model.DestinationDescription.Substring(1)
                        </p>
                    }
                    @if (!string.IsNullOrEmpty(Model.Image2))
                    {
                        <div class="sing-post-thumb mb-5 row pt-3 justify-content-center">
                            <div class="col-sm-6">
                                <img src="~/destinationImages/@Model.DestinationImage" class="img-fluid radius-image d-block mx-auto" alt="@Model.DestinationCity">
                            </div>
                        </div>
                    }
                    <p class="mb-4">
                        @Model.Details1
                    </p>
                    @if (!string.IsNullOrEmpty(Model.Image2))
                    {
                        <div class="sing-post-thumb mb-5 row pt-3 justify-content-center">
                            <div class="col-sm-6">
                                <img src="~/destinationImages/@Model.Image2" class="img-fluid radius-image d-block mx-auto" alt="@Model.DestinationCity">
                            </div>
                        </div>
                    }
                    <p class="mb-4">
                        @Model.Details2
                    </p>
             
                    <div class="d-grid left-right mt-5 pb-md-5">
                        <div class="buttons-singles">
                            <h6 class="mb-0">@Model.DestinationDayNight</h6>
                        </div>
                        <div class="buttons-singles">
                            <h6 class="mb-0">@Model.DestinationPrice ₺</h6>
                        </div>
                    </div>
                    @await Component.InvokeAsync("_CommentList", new { id = ViewBag.i })
                    @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml", new Comment(), new ViewDataDictionary(ViewData))
                </div>
            </div>
        </div>
    </section>
}